path/to/your/large_file.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/97155/Downloads/realistic-chest-xray-images/generator.h5 filter=lfs diff=lfs merge=lfs -text
generator.h5 filter=lfs diff=lfs merge=lfs -text
